In [ ]:
ania = 0

In [ ]:
print(ania)

In [ ]:
ania += 1
ania *= 2
bartek = (ania + 50) * 3

In [ ]:
print(bartek)
print(ania)

In [ ]:
print(bartek / 12)
print(bartek / 12.0)

In [ ]:
zdanie = "ala ma kota"
zdanie2 = "kot ma przerąbane"

print(zdanie)
print(zdanie2)

In [ ]:
duze_zdanie = "{}, a {}".format(zdanie, zdanie2)

print(duze_zdanie)

In [ ]:
nie_liczba = "42"
liczba = 42
inna_liczba = 24

In [ ]:
print(liczba == 42)

In [ ]:
print(liczba != 42)
print(liczba > 42)
print(liczba >= 42)

In [ ]:
print(liczba == inna_liczba * 2)

In [ ]:
wartosc = liczba == nie_liczba
zdanie = "{a} == {b} to {warunek}".format(a=liczba, b=nie_liczba, warunek=wartosc)

In [ ]:
print(zdanie)

In [ ]:
liczba + nie_liczba

In [ ]:
liczba + int(nie_liczba)

In [ ]:
string = raw_input('podaj liczbe:')
print(string)

In [ ]:
# zadanie: pobrać dwie liczby, zamienić je na zmiennoprzecinkowe (funkcja float) oraz wyswietlić ich sumę